@import url(index.css);
.container {
    height: 100vh;
}

.grid {
    margin: 0 auto;
    display: grid;
    height: 90%;
    width: 90%;
    grid-template-columns: repeat(2, 5fr);
    align-self: center;
}
.grid1, .grid2 {
    outline: 5px dashed;
}
.grid2 {
    background-color: white;
}

.grid1 h1 {
    display: block;
    position: relative;
    margin: 20px auto;
    font-family: "pixelated";
    width: fit-content;
}

#note_h1 {
    text-decoration:underline;
    margin-top: 20%;
    margin-bottom: 30px;
}

.note {
    margin: 0 auto;
    width: fit-content;
    display: block;
    outline: 5px white solid;
    outline-offset: 10px;
}

.contact h2, .contact h4, .grid2 h1 {
    color: black;
}

.grid2 h1{
    text-align: center;
    margin: 20px;
}
.contact h2 {
    margin-top: 10px;
}

.contactus {
    margin-top: 20%;
}
.contact {
    height: 15%;
    padding: 20px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.contact img{
    position: relative;
    display: block;
    padding-left: 25%;
    margin-right: 10px;
    width: 10%;
    float: left;
}

footer img {
    transform: rotate(0deg);
}

footer ul, footer h4, footer ul li{
    background-color: white;
}
footer ul li a, li span, footer ul li, footer h4, footer h4 span{
    color: black;
}