@font-face {
    font-family: 'pixel';
    src:url('../font/pixel/snootorg-pixel10.ttf.woff') format('woff'),
        url('../font/pixel/snootorg-pixel10.ttf.svg') format('svg'),
        url('..font/pixel/snootorg-pixel10.eot'),
        url('..font/pixel/snootorg-pixel10.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: seaside;
    src:url('../font/Seaside/Seaside-Resort-NF.ttf.woff') format('woff'),
        url('../font/Seaside/Seaside-Resort-NF.ttf.svg') format('svg'),
        url('..font/Seaside/Seaside-Resort-NF.ttf.eot'),
        url('..font/Seaside/Seaside-Resort-NF.ttf.eot?#iefix') format('embedded-opentype'); 
}

@font-face {
    font-family: pixelated;
    src:url('../font/Pixelated/Pixelated.ttf.woff') format('woff'),
        url('../font/Pixelated/Pixelated.ttf.svg') format('svg'),
        url('..font/Pixelated/Pixelated.ttf.eot'),
        url('..font/Pixelated/Pixelated.ttf.eot?#iefix') format('embedded-opentype'); 
}
