@import url(index.css);

* {
    color: black;
    background-color: white;
}

body {
    background-color: white;
}
nav ul li a::after {
    background: black;
}

.container {
    height: 110vh;
}

.grid {
    
    margin: 0 auto;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(9, 2fr);
    grid-template-rows: repeat(9, 2fr);
    grid-gap: 1.25rem;
    width: 65%;    
}

.grid1, .grid3, .grid5 {
    background-color: black;
    position: relative;
    width: 100%;
    grid-column: span 1;
    grid-row: span 3;
    outline: 5px black dashed;
    font-family: "pixelated";
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
}
.grid2, .grid4, .grid6 {
    grid-column: span 8;
    grid-row: span 3 ;
    outline: 5px black dashed;
}
.grid1, .grid2 {
    grid-row: span 4;
}
.grid3, .grid4 {
    grid-row: span 2;
}
.grid5, .grid6 {
    grid-row: span 2;
}

.grid3 h1, .grid5 h1{
    text-align: center;
    font-size: 1.75em;
}

:where(.grid1, .grid3, .grid5, .grid7) h1 {
    background-color: black;
    color: white;
    margin: 0 auto;
    writing-mode: vertical-rl;
}

:where(.grid2, .grid4, .grid6, .grid8) h2, :where(.grid2, .grid4, .grid6, .grid8) h3 {
    text-align: justify;
    width: 80%;
    margin-left: 20px;
}

:where(.grid2, .grid4, .grid6, .grid8) ul {
    text-overflow: ellipsis;
    list-style-position: inside;
    margin-left: 25px;
    list-style-type:square;
}

.grid-6 {
    margin-top: 2%;
}   
.grid-4{
    margin-top: 5.5%; 
}

.grid-2 {
    margin-top: 4%;
}

.grid > ul {
    width: 80%;
}

.video{
    background-color: white;
    text-align: center;
    margin: 0.625vh auto 0.625vh auto;
}
.video iframe {
    outline-offset: 2px;
    outline: 5px dashed black;
}

footer ul li, footer ul li a, footer h4 span {
    background-color: black;
    color: white;
}